*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 550;
    /* line-height: 1.75; */
    font-size: 1.25rem;
    font-weight: bold;
    font-family: sans-serif;
}

.header {
    padding: 30px; 
    display: flex;
    justify-content: space-between;
    background: blue;
}
.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.module{
    display: flex;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    /* width: 175px; */
    /* max-width: 45%; */
    height: 300px;
    margin: 20px;
  }

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-between;
  background: blue;

}

.footer-item {
  height: 100px;
  flex: 1;
  padding-top: 3%;
}
  .footer-one{
    text-align: left;
    margin-left: 25px;
  }

  .footer-two{
    text-align: right;
    margin-right: 25px;
  }

  .center{
    display: flex;
    flex-wrap: wrap;
  }


  /* Макет для мобильных */
  @media only screen and (max-width: 390px) {

    .page{
      padding: 20px 22px 21px 22px;
    }
    .module{
      width: 100%;
      height: 165px;
      margin-top: 41px;
      font-size: 1em;
    }

    .box:first-of-type{
      margin-top: 0;
    }

}

/* Макет для планшетов */
@media only screen and (min-width: 391px) /*and (max-width: 800px)*/  {
    /* .page{
        width: 580px;
        border: 2px solid pink;
    } */

    .module{
      width: 39%;
      font-size: 1.2em;
    }
    
    /* .center{
        display: flex;
        justify-content:center;
        border: 2px solid pink;
    } */

    @media only screen and (min-width: 800px){
      .module{
        max-width: 40%;
        font-size: 2em;
      }

      /* .center{
        display: flex;
        justify-content:center
    } */
    }
     
    

    
}
